.form,
.summery {
    label {
        color: #333;
        margin: 15px 0 8px;
        line-height: 16px;
        font-weight: normal;
    }

    .fields-wrapper {
        display: flex;
        flex-flow: column;
        gap: 5px;
    }
    .btn-grp {
        margin-top: 30px;
    }
    .error {
        color: red;
        font-size: 12px;
    }
    .input-grp {
        display: flex;
        gap: 15px;
        align-items: flex-end;

        .input {
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            width: 100%;
            position: relative;
        }

        [type="text"],
        [type="email"],
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            height: 40px;
            width: 100%;
            background-color: #fff;
            border-radius: 3px;
            border: 1px solid #ccc;
            font-family: raleway, Arial, times new roman, Times, sans-serif;
            font-size: 14px;
            padding: 5px 10px 6px;
            position: relative;
            outline: none;
            @include transition;

            &:focus {
                border: 1px solid #0d84f3;
                box-shadow: 0 0 5px rgba(13, 132, 243, 35);
            }
        }

        [type="checkbox"] {
            position: initial;
            margin-left: 0;
            margin-top: 0;
        }

        label.checkbox {
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;
        }
    }
}
