.resume-form {
    h2 {
        font-size: 36px;
        font-weight: 800;
        line-height: 42px;
        margin: 0;
        margin-bottom: 5px;
    }

    .subtitle {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
        color: #333;
    }

    .leftcol {
        width: 32%;
    }

    .btn-grp {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .btn-next {
        background: #006645;
        font-size: 16px;
        font-weight: 800;
        color: #fff;
        outline: none;
        text-decoration: none;
        text-align: center;
        padding: 12px 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        border-radius: 3px;
        border: 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .btn-back {
        padding: 12px 20px;
        background: #f6f6f6;
        color: #333;
        @include transition;

        &:hover,
        &.active {
            background-color: #e3e3e7;
            color: #000;
        }
    }

    .step {
        .tips,
        .form,
        .summery {
            display: none;
            padding: 50px 0;
            min-height: calc(100vh - 120px);
            position: relative;

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: right;
                background-size: contain;
                z-index: -1;
            }

            .show-additional {
                cursor: pointer;
                margin-bottom: 7px;
                color: #03acbb;
                font-size: 14px;
                i {
                    margin-right: 5px;
                }
            }
        }
    }
}
