.resume-form {
    h2 {
        font-size: 36px;
        font-weight: 800;
        line-height: 42px;
        margin: 0;
        margin-bottom: 5px;
    }

    .subtitle {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
        color: #333;
    }
}
