.template2 {
    position: relative;

    // &::before {
    //     content: "";
    //     display: flex;
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     width: 30%;
    //     height: 40%;
    //     background: #dbcabaff;
    //     z-index: -1;
    // }
    // &::after {
    //     content: "";
    //     display: flex;
    //     position: absolute;
    //     left: 0;
    //     top: 40%;
    //     width: 30%;
    //     height: 60%;
    //     background: #dbcabaff;
    //     z-index: -1;
    // }
    .wrapper {
        // display: flex;
        // gap: 22px;
    }

    .heading {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        padding-bottom: 30px;
        &::after {
            content: "";
            display: flex;
            position: absolute;
            left: -30px;
            top: -30px;
            width: calc(100% + 60px);
            height: calc(100% + 30px);
            background: #f0f0f0;
            z-index: -1;
        }

        .full-name {
            font-size: 46px;
            line-height: 58px;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        .designation {
            margin: 0;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 4px;
            text-transform: uppercase;
        }

        .img-wrapper {
            position: absolute;
            top: 10%;
            right: 0%;
            // transform: translateY(-50%);
            img {
                width: 140px;
                height: 140px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }

    .col-wrapper {
        display: flex;
        .left {
            border-right: 2px solid #777;
            // display: flex;
            // flex-flow: column;
            // gap: 30px;
            background: #fff;

            .img-wrapper {
                img {
                    border-radius: 50%;
                    object-fit: cover;
                    margin-left: auto;
                    margin-right: auto;
                    width: 190px;
                    height: 190px;
                }
            }

            h3 {
                font-size: 18px;
                text-transform: uppercase;
                margin: 0px 0px 20px 0;
            }

            .contact-wrapper {
                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    li {
                        a {
                            display: flex;
                            gap: 15px;
                            align-items: center;
                        }
                    }
                }
            }

            .skills-wrapper {
                ul {
                    margin-left: 20px;
                }
            }

            ul {
                li,
                a {
                    @include small_font;
                    color: #333;
                }
            }

            .reference-wrapper {
                p {
                    @include small_font;
                    color: #333;
                }
            }

            .r-row {
                position: relative;
                padding: 30px 30px 30px 0;

                &:first-child {
                    padding-top: 0;
                }
                &:not(:last-child) {
                    border-bottom: 2px solid #777;
                    &::after {
                        content: "";
                        display: flex;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        border: 1px solid #777;
                        position: absolute;
                        top: 100%;
                        right: 0;
                        background: #fff;
                        transform: translate(55%, -45%);
                    }
                }
            }
        }

        .right {
            .self-summary-wrapper {
                h2 {
                    color: #333;
                    font-size: 18px;
                    text-transform: uppercase;
                    margin-top: 0;
                }
                p{
                    margin-bottom: 0;
                }
            }

            .resume-items {
                h2 {
                    font-size: 18px;
                    text-transform: uppercase;
                    margin-top: 0;
                }
                ul {
                    margin-left: 20px;
                }

                p,
                li {
                    color: #333;
                    font-size: 13px;
                }
                .resume-item {
                    > div:not(:last-child) {
                        margin-bottom: 40px;
                    }
                }
                .designation {
                    color: #000;
                }
            }

            .r-row {
                position: relative;
                padding: 30px 0 30px 30px;

                &:first-child {
                    padding-top: 0;
                }
                &:not(:last-child) {
                    border-bottom: 2px solid #777;
                    &::after {
                        content: "";
                        display: flex;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        border: 1px solid #777;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background: #fff;
                        transform: translate(-55%, -45%);
                    }
                }
            }
        }
    }
}
